{% extends 'base.html' %}

{% block content %}
    {#巨幕开始#}
    <div class="jumbotron">
{#        <div class="panel panel-primary">#}
        <div class="row">
            <div class="col-md-8">
                <h2>您好！
                    {% ifequal emp.full_name None %}
                        <p style="color: red">系统中没有您的姓名，请编辑您的员工信息！</p>
                    {% else %}
                        {{ emp.full_name }}
{#                        （{{ user.username }}）#}
                    {% endifequal %}
                </h2>
                <p>今天又是全新的一天，我想您今天已经有了自己的计划，加油！<img width="30" height="30" src="/static/img/quantou1.jpg"></p>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success btn-lg  col-md-offset-2" id="sign_btn"
                        style="height:60px;width:100px;cursor:pointer;font-size:24px;display:inline-block;">
                    {% ifequal sign_flag True %}
                        签到
                    {% else %}
                        签退
                    {% endifequal %}
                </button>
            </div>
            <div class="col-md-2">
                <object id="honehoneclock" width="200" height="100" align="middle"
                        codebase="/static/flash/swflash.cab#version=8,0,0,0"
                        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
                    <param value="always" name="allowScriptAccess">
                    <param value="/static/flash/honehone_clock_tr.swf"
                        name="movie">
                    <param value="high" name="quality">
                    <param value="#ffffff" name="bgcolor">
                    <param value="transparent" name="wmode">
                    <embed width="200" height="100" align="middle"
                        pluginspage="http://www.macromedia.com/go/getflashplayer"
                        type="application/x-shockwave-flash" allowscriptaccess="always" name="honehoneclock"
                        bgcolor="#ffffff" quality="high"
                        src="/static/flash/honehone_clock_tr.swf"
                        wmode="transparent">
                </object>
            </div>
        </div>
{#        </div>#}
        <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">签到记录</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>员工编号</th>
                        <th>姓名</th>
                        <th>签到时间</th>
                        <th>签退时间</th>
                        <th>时长</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for att in att_list %}
                        <tr
{#                                {% ifequal is_auto_signout True %}#}
{#                                    style="color: #a50718;font-weight:bold"#}
{#                                {% endifequal %}#}
                        >
                            <td>{{ att.employee.emp_num }}</td>
                            <td>{{ att.employee.full_name }}</td>
                            <td>{{ att.start_time }}</td>
                            <td>{{ att.end_time }}</td>
                            {% ifequal att.end_time None %}
                                <td></td>
                            {% else %}
                                <td>{{ att.start_time | timesince:att.end_time }}</td>
                            {% endifequal %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    {#巨幕结束#}
    <script>
        $('.jumbotron').on('click', '#sign_btn', function () {
            $.post('/check/', {'sign':"{{ sign_flag }}"}, function (ret) {
                // window.location.reload(true)
                {% ifequal sign_flag True %}
                    alert('签到成功！');
                {% else %}
                    alert('签退成功！');
                {% endifequal %}
                window.location.reload(true)
            })
        });
        $(document).ready(function(){
                {% ifequal is_auto_signout True %}
                    alert('存在未签退记录，系统已自动签退！');
                {% endifequal %}
        });
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
    </script>

{% endblock content %}
{% block sidebar %}
    0
{% endblock sidebar %}