{% extends 'base.html' %}
<link href="/static/css/bootstrap-select.min.css">
<script src="/static/js/bootstrap-select.min.js"></script>

<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css" media="screen">
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/static/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<link href="/static/css/bootstrapValidator.min.css" rel="stylesheet">
<script src="/static/js/bootstrapValidator.min.js"></script>
{% block content %}
    <div class="jumbotron" style="position:relative;">
        <div class="panel panel-primary">
            <!--表单开始-->
            <div class="panel-heading">
                <p class="panel-title">员工信息</p>
            </div>
            <div class="panel-body">
                <form id="edit-emp-info-form" role="form" class="form-signin form-horizontal" action="/edit_emp_info/" method="post" onsubmit="return sure_submit()">
                    <fieldset>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="col-sm-4 control-label">用户名：</label>
                        <label for="username" class="col-sm-1 control-label">{{ emp.user }}</label>
                    </div>
                    <div class="form-group">
                        <label for="emp_num" class="col-sm-4 control-label">员工编号：</label>
                        <label for="emp_num" class="col-sm-1 control-label">{{ emp.emp_num }}</label>
{#                        <div class="col-sm-4">#}
{#                            <input class="form-control" type="text" name="emp_num" id="emp_num"#}
{#                            {% ifequal emp.emp_num None %}#}
{#                                value=""#}
{#                            {% else %}#}
{#                                value="{{ emp.emp_num }}" readonly="readonly" unselectable="on"#}
{#                            {% endifequal %}/>#}
{#                        </div>#}
                    </div>
                    <div class="form-group">
                        <label for="full_name" class="col-sm-4 control-label">姓名：</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="full_name" id="full_name"
                            {% ifequal emp.full_name None %}
                                value=""
                            {% else %}
                                value="{{ emp.full_name }}"
                            {% endifequal %}/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="department" class="col-sm-4 control-label">部门：</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="selectDepartment" name="department">
                                <option value="" selected></option>
                                {% for dept in dept_list %}
                                    {% ifequal dept.id emp.department.id %}
                                        <option value="{{ dept.name }}" selected>{{ dept.name }}</option>
                                    {% else %}
                                        <option value="{{ dept.name }}">{{ dept.name }}</option>
                                    {% endifequal %}

                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="user_type" class="col-sm-4 control-label">职务：</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="user_type" name="user_type">
                                <option value="" selected></option>
                                {% for user_type in user_type_list %}
                                    {% ifequal user_type.id emp.user_type.id %}
                                        <option value="{{ user_type.caption }}" selected>{{ user_type.caption }}</option>
                                    {% else %}
                                        <option value="{{ user_type.caption }}">{{ user_type.caption }}</option>
                                    {% endifequal %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="gender" class="col-sm-4 control-label">性别：</label>
                        <div class="col-sm-2">
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="gender" value="男"
                                        {% ifequal emp.gender "男" %}
                                            checked
                                        {% endifequal %} > 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="gender" value="女"
                                        {% ifequal emp.gender "女" %}
                                            checked
                                        {% endifequal %} > 女
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="birth_input" class="col-sm-4 control-label">出生日期：</label>
                        <div class="input-group date birth_date col-sm-4" data-link-field="birth_input">
                            <input class="form-control" type="text" name="birth_date" value="{{ emp.birth_date | date:"Y-m-d" }}" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="work_phone" class="col-sm-4 control-label">办公电话：</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="work_phone" id="work_phone" value="{{ emp.work_phone }}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cell_phone" class="col-sm-4 control-label">手机号码：</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="cell_phone" id="cell_phone" value="{{ emp.cell_phone }}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label">Email:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="email" name="email" id="email" value="{{ emp.user.email }}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-4">
                            <input type="submit" class="btn btn-success" value="修改"
                                   style="height:50px;width:140px;cursor:pointer;font-size:20px;display:inline-block;"></input>
                        </div>
                    </div>
                </fieldset>
                </form>
            </div>
        </div>
        <!--表单结束-->
    </div>
    <script>
        function sure_submit() {
            var gnl=confirm("确定要提交?");
            if (gnl==true){
                document.forms["edit-emp-info-form"].submit();
            }else{
                return false;
            };
        }
    </script>
    <script src="/static/js/edit-emp-info.js"></script>
    <script type="text/javascript" src="/static/js/datetimepicker-verify.js"></script>
{% endblock content %}
{% block sidebar %}
    0
{% endblock sidebar %}
