{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">请假记录</h3>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
{#                        <th>假单编号</th>#}
{#                        <th>员工编号</th>#}
                        <th>姓名</th>
                        <th>申请时间</th>
                        <th>假别</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>请假天数</th>
                        <th>销假时间</th>
                        <th>请假原因</th>
                    </tr>
                </thead>
                <tbody>
                    {% for att in leave_list %}
                        <tr>
{#                            <td>{{ att.leave_id }}</td>#}
{#                            <td>{{ att.employee.emp_num }}</td>#}
                            <td>{{ att.employee.full_name }}</td>
                            <td>{{ att.ask_time | date:"Y-m-d H:i" }}</td>
                            <td>{{ att.leave_type }}</td>
                            <td>{{ att.start_time | date:"Y-m-d H:i" }}</td>
                            <td>{{ att.end_time | date:"Y-m-d H:i" }}</td>
                            <td>{{ att.leave_days }}</td>
                            {% if att.report_back_time is None %}
                                <td>
                                    <form id="defaultForm" action="/LeaveQuery/" method="post">
                                        {% csrf_token %}
                                        <label style="color: #e50914">未销假</label>
                                        <button class="btn btn-sm btn-primary" name="leave_id"  id="LeaveReportBack_btn"
                                                value="{{ att.leave_id }}">销假
                                        </button>
                                    </form>
                                </td>
                            {% else %}
                                <td>{{ att.report_back_time | date:"Y-m-d H:i" }}</td>
                            {% endif %}
                            <td>{{ att.reason }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}
{% block sidebar %}
    6
{% endblock sidebar %}