{% extends 'base.html' %}

{% block content %}
    <link href="/static/css/bootstrap-datetimepicker-standalone.min.css"
          rel="stylesheet">
    <link href="/static/css/bootstrap-select.min.css">
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/moment-with-locales.min.js"></script>

    <div class="panel panel-info">
        <div class="panel-heading">请假申请</div>
        <div class="panel-body">
            <form id="defaultForm" role="form" class="form-signin form-horizontal" action="/leave/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="leaveType" class="col-sm-4 control-label">假别：</label>
                    <div class='col-sm-8'>
                        <select  name="leavetype" id='leaveType'>
                            <option value="年休假">年休假</option>
                            <option value="探亲假">探亲假</option>
                            <option value="病假">病假</option>
                            <option value="事假">事假</option>
                            <option value="婚假">婚假</option>
                            <option value="丧假">丧假</option>
                            <option value="疗养">疗养</option>
                            <option value="出差">出差</option>
                            <option value="培训">培训</option>
                            <option value="学习">学习</option>
                            <option value="会议">会议</option>
                            <option value="停薪留职">停薪留职</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="datetimepicker1" class="col-sm-4 control-label">开始日期：</label>
                    <div class="col-sm-4 date">
                        <input class="form-control" type="text" name="starttime" id="datetimepicker1" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="datetimepicker2" class="col-sm-4 control-label">结束时间：</label>
                    <div class="col-sm-4 date">
                        <input class="form-control" type="text" name="endtime" id="datetimepicker2" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="destination" class="col-sm-4 control-label">目的地：</label>
                    <div class="col-sm-4 date">
                        <input class="form-control" type="text" name="destination" id="destination" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputContent" class="col-sm-4 control-label">请假原因：</label>
                    <div class="col-sm-4">
                        <textarea rows="10" name="reason" class="form-control" id="inputContent"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4">
                        <button type="submit" class="btn btn-success">提交申请</button>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD',
                locale: moment.locale('zh-cn')
            });
            $('#datetimepicker2').datetimepicker({
                format: 'YYYY-MM-DD',
                locale: moment.locale('zh-cn')
            });
        })
    </script>
    <div class="panel panel-info">
        <div class="panel-heading">请假记录</div>
        <div class="panel-body">
            {% for item in leave_list %}
            <div class="alert alert-success" role="alert">
                {{ item.user.username }}&nbsp;&nbsp;{{ item.start_time }}&nbsp;&nbsp;{{ item.end_time }}&nbsp;&nbsp;{{ item.reason }}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
{% block sidebar %}
    6
{% endblock sidebar %}