{% extends 'base.html' %}

{% block content %}
    <link href="/static/css/bootstrap-datetimepicker-standalone.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-select.min.css">
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/moment-with-locales.min.js"></script>

    <div class="jumbotron">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">请假申请</h2>
            </div>
            <div class="panel-body">
                <form id="defaultForm" role="form" class="form-signin form-horizontal" action="/leave/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="leaveType" class="col-sm-4 control-label">假别：</label>
                        <div class='col-sm-8'>
                            <select  name="leavetype" id='leaveType'>
                                <option value="年休假">年休假</option>
                                <option value="探亲假">探亲假</option>
                                <option value="病假">病假</option>
                                <option value="事假">事假</option>
                                <option value="婚假">婚假</option>
                                <option value="丧假">丧假</option>
                                <option value="疗养">疗养</option>
                                <option value="出差">出差</option>
                                <option value="培训">培训</option>
                                <option value="学习">学习</option>
                                <option value="会议">会议</option>
                                <option value="停薪留职">停薪留职</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="datetimepicker1" class="col-sm-4 control-label">开始日期：</label>
                        <div class="col-sm-4 date">
                            <input class="form-control" type="text" name="starttime" id="datetimepicker1" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="datetimepicker2" class="col-sm-4 control-label">结束时间：</label>
                        <div class="col-sm-4 date">
                            <input class="form-control" type="text" name="endtime" id="datetimepicker2" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="destination" class="col-sm-4 control-label">目的地：</label>
                        <div class="col-sm-4 date">
                            <input class="form-control" type="text" name="destination" id="destination" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputContent" class="col-sm-4 control-label">请假原因：</label>
                        <div class="col-sm-4">
                            <textarea rows="4" name="reason" class="form-control" id="inputContent"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-4">
                            <button type="submit" class="btn btn-success" style="height:50px;width:140px;cursor:pointer;font-size:20px;display:inline-block;">提交申请</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
{#    </div>#}
    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD',
                locale: moment.locale('zh-cn')
            });
            $('#datetimepicker2').datetimepicker({
                format: 'YYYY-MM-DD',
                locale: moment.locale('zh-cn')
            });
        })
    </script>
{#    <div class="jumbotron">#}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">请假记录</h3>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>假单编号</th>
                    <th>员工编号</th>
                    <th>姓名</th>
                    <th>申请时间</th>
                    <th>假别</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>请假天数</th>
                    <th>销假时间</th>
                    <th>请假原因</th>
                </tr>
            </thead>
            <tbody>
            {% for att in leave_list %}
                <tr>
                    <td>{{ att.leave_id }}</td>
                    <td>{{ att.employee.emp_num }}</td>
                    <td>{{ att.employee.full_name }}</td>
                    <td>{{ att.ask_time }}</td>
                    <td>{{ att.leave_type }}</td>
                    <td>{{ att.start_time }}</td>
                    <td>{{ att.end_time }}</td>
                    <td>{{ att.leave_days }}</td>
                    <td>{{ att.report_back_time }}</td>
                    <td>{{ att.reason }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
{% block sidebar %}
    6
{% endblock sidebar %}